{{>licenseInfo}}

{{#emitJSDoc}}/**
* The Enums SDK module.
* @module SDK/Enums
* @version {{projectVersion}}
*/{{/emitJSDoc}}

export enum AuthStatus {
    UNAUTHENTICATED = 'UNAUTHENTICATED',
    AUTHENTICATING = 'AUTHENTICATING',
    AUTHENTICATED = 'AUTHENTICATED'
}