{{>licenseInfo}}

{{#emitJSDoc}}/**
* The Enums SDK module.
* @module SDK/Enums
* @version {{projectVersion}}
*/{{/emitJSDoc}}

export enum TokenType {
    ACCESS_TOKEN = 'access_token',
    ID_TOKEN = 'id_token'
}