//@ts-nocheck

{{>licenseInfo}}

import * as KeyChain from 'react-native-keychain';

{{#emitJSDoc}}/**
* The Storage SDK module.
* @module SDK/Storage
* @version {{projectVersion}}
*/{{/emitJSDoc}}

export default class RNStorage {
    async getItem() {
        return KeyChain.getGenericPassword();
    }

    async setItem<T>(value: T) {
        return KeyChain.setGenericPassword(
            'kinde',
            typeof value === 'string' ? value : JSON.stringify(value)
        );
    }

    clear() {
        return KeyChain.resetGenericPassword();
    }
}